*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

li{
    font-size: 2rem;
}

button{
    cursor: pointer;
}

p{
    font-size: 2.5rem;
}

/* Navigation Start */

header{
    text-align: center;
}
.logo{
    font-size: 2.5rem;
}

nav{
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    width: 90%;
    margin:auto;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

ul{
    display: flex;
    list-style: none;
}

ul a{
    
    padding: 1rem;
    text-align: center;
}
.headi li{
    padding:1rem;
}
.sign-up{
    border: 4px solid;
    border-image-source: linear-gradient(23deg, #8FA659, #C7D59F);
    border-image-slice: 1;
    font-size:2rem;
    color:white;
    background:none;
    padding:0rem 2rem 0rem 2rem;
    margin: 0.5rem;
}
/* Navigation End */

/* Intro Start */
.intro{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), transparent) , url(./Images/pexels-photo-1005058.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-bottom:2rem;
}

.cover{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-height:90vh;
    position: relative;
}

.move{
    position: absolute;
    right:15%;
}

.cover h2{
    font-size:7rem;
    font-weight: bold;
    padding:1rem;
}

.cover p{
    line-height: 4rem;
}

.cover button{
    border: none;
    background: #8FB339;
    color: white;
    font-size: 2rem;
    border-radius:30px;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}
/* Intro End */

/*About Start*/
#about{
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    width: 90%;
}

.about-pic{
    width:40%;
}

.about-pic img{
    
    width:100%;
    height: 100%;
}

.about-descr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin:auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.about-descr h3{
    font-size: 5rem;
}

.about-descr p{
    font-size: 2.5rem;
}
/*About End*/

/*Info Start*/
.info-container{
    display: flex;
    flex-wrap: wrap;
    color:white;
    margin-top: 2rem;
 
}

.info-pictwo{
    width:50%;
    background: red;
}

.info-pictwo img{
    width:100%;
    height:100%;
}

.info-light{
    width: 100%;
    background: #3D3D3D;
    text-align: center;
}

.info-dark{
    width: 100%;
    background: #2D2A2A;
    text-align: center;
}

.info-img img{
    width:8%;
    margin:0.5rem;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width:50%;
}

.info-container h4{
    font-size:4rem;
}
/*info End*/



/*Community Start
#community{
    background:#F1F1F1;
}

.post{

    
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 70vh;
}

.card{
    background: white;
    text-align:center;
    min-width: 50vh;
    margin:2rem 5rem;
    flex: 1 1 70rem;
}

.card img{
    width:50%;
    height:100%;
}

.card-image{
    min-height: 20vh;
}

.card-imageee img{
    justify-content: center;
    align-items: center;
    width:44.5%;
}
*/

/*Ending banner*/
.ending{
    background: linear-gradient(rgba(0,0,0,0.7), transparent) , url(./Images/sing\ up\ page.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:30vh;
    color:white;
    position: relative;
}
.move-two{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:15%;
    right:35%;
}

.ending h3{
    font-size:4rem;
}



.ending button{
    position: relative;
    left: 30%;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 2.5rem;
    border-radius:30px;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    border: none;
    background: #8FB339;
    color:white;
}
/*End of the banner*/

/*Footer*/
footer{
    background:#4B5842;
    min-height:15vh;
    color:white;
}

footer img{
    width:3rem;
    
}

footer a{
    margin: 1rem;
    padding: 0rem;
}

footer h3{
    font-size: large;
}

footer p{
    font-size: 3rem;
}

.footer-wrap{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
text-align: center;
width:90%;
margin:auto;
}

/*Form Start*/
.form-up{
    min-height:100vh;
    background: linear-gradient(rgba(0,0,0,0.7), transparent) , url(./Images/explore\ section\ with\ search.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.form{
    min-height:60vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Form Container*/

.form-container{
    background:#1F1F1E;
    text-align: center;
    width:45%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.form-header{
    font-size:4rem;
}

.form-container label{
    font-size:2rem;
}

.e-form,
.p-form,
.re-form,
.u-form{
    padding:2rem;
}

.wrap{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

input{
    border: none;
    outline:none;
    color:white;
    background: transparent;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
}

form button{
    background: #8FB339;
    color:black;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size:3rem;
    width:100%;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    padding:1rem;
    font-weight:900;
}

.member {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/*Form End*/

/* Tablet Start */
@media screen and (max-width:1024px) and (min-width:501px){
    html{
        font-size:70%;
    }

    #about{
        display:flex;
        flex-wrap: wrap;
        margin:auto;
        width:100%;
    }


    .about-pic{
        background: blue;
        width:100%;
    }

    .intro{
        margin-bottom: 1rem;
    }

    .about-descr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin:auto;
        padding: 0rem;
        
    }

    .card-container{
        display: flex;
        flex-wrap: wrap;
        margin:auto;
        color:white;
        flex-direction: column;
        width:100%;
    }

    .grid{
        display: flex;
        flex-wrap: wrap;
        width:100%;
    }

    .info-pictwo{
        width:100%;
        
    }

    .card-one{
        width:100%;
        text-align: center;
    }
    
    .card-two{
        width:100%;
        text-align: center;
    }

    .card-img img{
        width:15%;
    }

    .form-container{
        width:100%;
    }

}

/* Tablet End*/
/* Mobile Start */
@media screen and (max-width:500px){
    html{
        font-size: 45%;
    }

    ul a{
    
        padding: 0.5rem;
        text-align: center;
    }

    nav{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #about{
        display:flex;
        flex-wrap: wrap;
        margin:auto;
        width:100%;
    }

    .about-pic{
        background: blue;
        width:100%;
    }

    .about-descr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:90%;
    margin:auto;
    padding: 0rem;
    
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    color:white;
    flex-direction: column;
    width:100%;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.info-pictwo{
    width:100%;
    
}

.card-one{
    width:100%;
    text-align: center;
}

.card-two{
    width:100%;
    text-align: center;
}

.card-img img{
    width:12%;
    padding-top: 1rem;
}

.form-container{
    width:100%;
}
 .form hr{
     display: none;
 }
 
.form{
    margin-top:3rem;
}

footer p {
    font-size: 1.2rem;
}

footer h3{
    font-size: 1.2rem;
}

.footer-wrap{
    align-items: center;
}

footer img{
    width:20%;
    margin:1rem;
}
    
}
/* Mobile End */
